.H4,.H3
{
	font-family: josefin-sans-n4, sans-serif;
}

#u2390-4,#u2391-4,#u96-4
{
	font-family: raleway-n5, sans-serif;
}

#u105-4
{
	font-family: raleway-n5, sans-serif;
}

#u126-4
{
	font-family: raleway-n5, sans-serif;
}

#u120-4
{
	font-family: raleway-n5, sans-serif;
}

#u139-4
{
	font-family: raleway-n5, sans-serif;
}

#u344-4,#u2572-8,#u2572-9,#u2573-8,#u2573-9
{
	font-family: raleway-n5, sans-serif;
}

#u1688-4,#u2781-4,#u266-5,#u341-4,#u342-4,#u2572-2,#u2573-2,#u658-5,#u2676-4,#u2679-4,#u2677-4,#u2681-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u1407.PamphletThumbSelected #u1410-4 p,#u1407.PamphletThumbSelected #u1410-4 h4,#u1206.PamphletThumbSelected #u1209-4 p,#u1206.PamphletThumbSelected #u1209-4 h4,#u846.PamphletThumbSelected #u847-4 p,#u846.PamphletThumbSelected #u847-4 h4,#u173-4,#u762-5,#u847-4
{
	font-family: raleway-n7, sans-serif;
}

#u1209-4
{
	font-family: raleway-n7, sans-serif;
}

#u1410-4
{
	font-family: raleway-n7, sans-serif;
}

#u1554-5
{
	font-family: raleway-n7, sans-serif;
}

#u265-11,#u1552-4,#u1570-4
{
	font-family: raleway-n4, sans-serif;
}

#u1565-4
{
	font-family: raleway-n4, sans-serif;
}

#u1579-4
{
	font-family: raleway-n4, sans-serif;
}

#u1574-4
{
	font-family: raleway-n4, sans-serif;
}

#u1602-4,#u1607-4
{
	font-family: raleway-n6, sans-serif;
}

#u1582-4,#u1583-8,#u1612-5
{
	font-family: raleway-n4, sans-serif;
}

